# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# SQLite DB
backend_data/
*.sqlite3
phishing_detector.db

# Node
node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
